/* #classroom-div img{
    height: 50%;

} */
/* 
.classroom-overlay {
  position: relative;
  display: inline-block;


} */

#carousel-div {
  border-radius: 12px;

}

#classroom-image {
  /* border: 5px solid blue; */
  border-radius: 12px;
}



/* #classroom-div{
  background-image: url(/src//media/header-bg.png);
  background-size: cover;
} */
.visible {
  opacity: 1 !important;
}

#classroom-div {
  opacity: 0;
  transition: opacity 0.5s ease;
}

#classroom-div.visible {
  opacity: 1 !important;
}