/* #classroom-div img{
    height: 50%;

} */

.classroom-overlay {
    position: relative;
    display: inline-block;
  }
  
  .classroom-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
  }
