
#carousel-div {
  border-radius: 12px;

}

#classroom-image {
  /* border: 5px solid blue; */
  border-radius: 12px;
}



.visible {
  opacity: 1 !important;
}

#classroom-div {
  opacity: 0;
  transition: opacity 0.5s ease;
}

#classroom-div.visible {
  opacity: 1 !important;
}

.carousel-control-prev, .carousel-control-next {
  font-size: 3rem;
  text-decoration: none;
  color: green;
  z-index: 1;
}